.topnav {
    align-items: center;
    align-content: center;
    table, td, th {border: 1px solid}
    table {width: 50%; 
        border-radius: 10px; 
        text-align: center;
        border-collapse: collapse; 
        float: right;
        margin-top: -35px
        ;}
}